Que 1. Write a code to reverse a string.

In [ ]:
s = "Gaurav Shukla"
reversed_s = s[::-1]

In [ ]:
print(reversed_s)

alkuhS varuaG

Que 2. Write a code to count the number of vowels in a string.

In [ ]:
def count_vowels(enter_string):
  vowels = "aeiouAEIOU"
  count = 0
  for i in enter_string:
    if i in vowels:
      count = count + 1
  return count

In [ ]:
count_vowels("gaurav shukla")

5

Que 3. Write a code to check if a given string is a palindrome or not.

In [ ]:
def palindrome_or_not(string):
  if string[::] == string[::-1]:
    print("given string is a palindrome")
  else:
    print("given string is not a palindrome")

In [ ]:
palindrome_or_not("gaurav shukla")

given string is not a palindrome

In [ ]:
palindrome_or_not("atta")

given string is a palindrome

Que 4. Write a code to check if two given strings are anagrams of each other.

In [ ]:
def anagrams_or_not(string1, string2):
  # I am removing spaces and converting the string in lowercase to get case insensitive comparison.

  string1 = string1.replace(" ","").lower()
  string2 = string2.replace(" ","").lower()

  # now sorting the strings to arrange the aplhabets in sequence.

  sorted_string1 = sorted(string1)
  sorted_string2 = sorted(string2)

  if sorted_string1 == sorted_string2:
    print("anagrams of each other")
  else:
    print("not anagrams of each other")

In [ ]:
anagrams_or_not("SilEnt","LIsteN")

anagrams of each other

Que 5. Write a code to find all the occurrenses of a given substring within another string.

In [ ]:
def occurrences_find(str1, substr1):
  occurrence = []
  start_index = 0

  while True:
    index = str1.find(substr1, start_index)
    if index == -1:
      break

    occurrence.append(index)
    start_index = index + 1

  return occurrence

In [ ]:
occurrences_find("hey, this is me. hey,hey!","h")

# here the output is showing that the substr1 "h" came at 0,6,17,21 indices in str1.

[0, 6, 17, 21]

Que 6. Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
def compress_string(s):
    compressed_string = str()
    count = 1
    for i in range(len(s)):
        if i < len(s) - 1 and s[i] == s[i + 1]:
            count += 1
        else:
            compressed_string += s[i] + str(count)
            count = 1

    # Check if the compressed string is shorter than the original string

    if len(compressed_string) < len(s):
        return compressed_string
    else:
        return s

In [ ]:
# Example usage:
original_string = "aabcccccaaa"
compressed = compress_string(original_string)
print("Compressed string:", compressed)

Compressed string: a2b1c5a3

Que 7. Write a code to determine if a string has all unique characters.

In [ ]:
def is_unique(str1):
    if len(set(str1)) == len(str1):
      print("String is unique")
    else:
      print("String is not unique")

In [ ]:
is_unique("gaurav")

String is not unique

Que 8. Write a code to convert a string to uppercase or lowecase.

In [ ]:
str12 = "PwSkiLLs"
print(str12.upper()),
print(str12.lower())

PWSKILLS
pwskills

Que 9. Write a code to count the number of words in a string.

note : In the code I provided, s.split() is used to split the input string s into a list of words. The split() method is a built-in Python method that splits a string into a list of substrings based on a specified delimiter. If no delimiter is specified, as in this case, the default delimiter is whitespace

In [ ]:
def count_words(s):
    words = s.split()
    return len(words)

In [ ]:
count_words("hey! where are you going?")

5

Que 10. Write a code to concatenate two strings without using + operator.

In [ ]:
def concatenate_strings(s1, s2):
    result = str()
    for char in s1:
        result += char
    for char in s2:
        result += char
    return result

In [ ]:
concatenate_strings("Hello", "Hey")

'HelloHey'

Que 11. Write a code to remove all occurrenences of a specific element from a list.

In [ ]:
def remove_element(lis, element):
    return [x for x in lis if x != element]

In [ ]:
list1 = [1,11,2,1,3,4,15,1,16,90,1,1]

remove_element(list1, 1)

[11, 2, 3, 4, 15, 16, 90]

Que 12. Implement a code to find the second largest number in a given list of intergers.

In [ ]:
def second_largest(lst):
    # Converting the list to a set to remove all the duplicates
    unique_nums = set(lst)

    # If there are less than two unique elements, return an appropriate message
    if len(unique_nums) < 2:
        return "No second largest element found"

    # Sorting the unique numbers in descending order and return the second element
    sorted_nums = sorted(unique_nums, reverse=True)
    return sorted_nums[1]

In [ ]:
list1 = [1,11,2,1,3,4,15,1,16,90,1,1]

second_largest(list1)

16

Que 13. Write a code to count all occurrenences of a specific element from a list and retrun a dictionary with element as keys and their count as values.

In [ ]:
def count_occurrences(lst):
    # Initialize an empty dictionary to store counts
    counts = {}

    # Iterate through the list
    for element in lst:
        # Check if the element is already in the dictionary
        if element in counts:
            # If yes, increment its count
            counts[element] += 1
        else:
            # If no, add it to the dictionary with count 1
            counts[element] = 1

    return counts

In [ ]:
list2 = [1,2,3,1,2,3,11,2,3,21,14,15,9,8,79,87,4,3,2,1]

count_occurrences(list2)

{1: 3, 2: 4, 3: 4, 11: 1, 21: 1, 14: 1, 15: 1, 9: 1, 8: 1, 79: 1, 87: 1, 4: 1}

Que 14. Write a code to reverse a list in-place without using any built in reverse function.

In [ ]:
list3 = [1,2,3,4,5,6,7,8,9]
reversed_list3 = list3[::-1]

In [ ]:
reversed_list3

[9, 8, 7, 6, 5, 4, 3, 2, 1]

Que 15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
def remove_duplicates_preserve_order(lst):
    # Initialize an empty list to store unique elements
    unique_elements = []

    # Iterate through the list
    for ele in lst:
        # If the element is not in the list of unique elements, add it
        if ele not in unique_elements:
            unique_elements.append(ele)

    return unique_elements

In [ ]:
list2 = [1,2,3,1,2,3,11,2,3,21,14,15,9,8,79,87,4,3,2,1]

remove_duplicates_preserve_order(list2)

[1, 2, 3, 11, 21, 14, 15, 9, 8, 79, 87, 4]

Que 16. Create a code to check if a given list is sorted ( in ascending or descending order ) or not.

In [ ]:
def is_sorted(lst):
    # Check if the list is sorted in ascending order
    if lst == sorted(lst):
        return "Already Sorted in Ascending"
    # Check if the list is sorted in descending order
    elif lst == sorted(lst, reverse=True):
        return "Already Sorted in Descending"
    else:
        return "Unsorted"

In [ ]:
is_sorted([1,2,3,4,5,6,7])

'Already Sorted in Ascending'

Que 17. Write a code to merge two sorted list into a single sorted list.

In [ ]:
def two_sorted_list(list1, list2):
  # Sorting both list
  list1 = sorted(list1)
  list2 = sorted(list2)

  # Concatenating the both lists
  concatenated_list = list1 + list2

  return sorted(concatenated_list)

In [ ]:
two_sorted_list([1,3,4,7,9], [11,34,2,10,5])

[1, 2, 3, 4, 5, 7, 9, 10, 11, 34]

Que 18. Implement a code to find the intersection of two given lists.

In [ ]:
def find_intersection(list1, list2):
    intersection = []
    for item in list1:
        if item in list2 and item not in intersection:
            intersection.append(item)
    return intersection

In [ ]:
 lst1 = [2,4,6,8,1,3,5,7]
 lst2 = [11,14,16,9,8,7,6,5,21]

 find_intersection(lst1, lst2)

[6, 8, 5, 7]

Que 19. Create a code to find the union of two lists without duplicates.

In [ ]:
def find_union(list1, list2):
  # removing duplecates

  list1 = set(list1)
  list2 = set(list2)

  return list(list1 | list2)

In [ ]:
 lst1 = [2,4,6,8,1,3,5,7]
 lst2 = [11,14,16,9,8,7,6,5,21]

 find_union(lst1, lst2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 14, 16, 21]

Que 20. Write a code to shuffle any given list without using any built-in shuffle functions.

In [ ]:
import random

def shuffle_list(lst):
    return random.sample(lst, len(lst))

In [ ]:
shuffle_list([1,2,3,4,5,6,7,8,9])

[6, 7, 8, 1, 9, 2, 3, 4, 5]

Que 21. Write a code that takes two tuples as input and return a new tuple containing elements that are common to both input tuples.

In [ ]:
def common_ele_tup(t1=None, t2=None):
    if t1 is None:
        t1 = input("Enter elements separated by commas: ")
    if t2 is None:
        t2 = input("Enter elements separated by commas: ")

    elements_1 = t1.split(',')
    elements_2 = t2.split(',')

    intersected_lst = [ele for ele in elements_1 if ele in elements_2]

    return tuple(intersected_lst)

In [ ]:
common_ele_tup()

Enter elements separated by commas: 1,2,3,4,5
Enter elements separated by commas: 3,4,5,6,7,8

('3', '4', '5')

Que 22. Create a code that prompt the user to enter two sets of integer separated by commas. Then print the intersection of these two sets.

In [ ]:
def intersection_of_sets(s1=None,s2=None):

  if s1 is None:
    s1 = input("enter a set of integer seperated by commas")
  if s2 is None:
    s2 = input("enter a set of integer seperated by commas")

  ele_1 = s1.split(',')
  ele_2 = s2.split(',')

  set1 = set(ele_1)
  set2 = set(ele_2)

  return set1 & set2

In [ ]:
intersection_of_sets()

enter a set of integer seperated by commas1,2,3,4,5,6,7,8,9
enter a set of integer seperated by commas2,4,6,8

{'2', '4', '6', '8'}

Que 23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from the both tuples.

In [ ]:
def concate_tup(t1 = None, t2 = None):

  if t1 is None:
    t1 = input("enter integer elements separated by commas ")
  if t2 is None:
    t2 = input("enter integer elements separated by commas ")

  elements_1 = t1.split(',')
  elements_2 = t2.split(',')

  return tuple(set(elements_1) | set(elements_2))

In [ ]:
concate_tup()

enter integer elements separated by commas 1,2,3,4,5
enter integer elements separated by commas 1,2,3,4,5,6,7,8,9,99

('9', '4', '1', '2', '8', '7', '99', '6', '5', '3')

Que 24. Develope a code that prompts the user to input two sets of strings. Then print the element that are present in first set but not in second set.

In [ ]:
def set1_minus_set2(s1 = None, s2 = None):

  if s1 is None:
    s1 = input("enter set of integer element separated by whitespace ")
  if s2 is None:
    s2 = input("enter set of integer element separated by whitespace ")

  splited_s1 = s1.split(' ')
  splited_s2 = s2.split(' ')

  set1 = set(splited_s1)
  set2 = set(splited_s2)

  return set(set1 - set2)

In [ ]:
set1_minus_set2()

enter set of integer element separated by whitespace 1 2 3 4 5 6 7 8 9
enter set of integer element separated by whitespace 2 4 6 8

{'1', '3', '5', '7', '9'}

Que 25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements form the original tuple within the specified range of indices.

In [ ]:
def get_elements_in_range(input_tuple, start_index, end_index):
    return input_tuple[start_index:end_index + 1]

In [ ]:
tup1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16)
start_index = 2
end_index = 7
get_elements_in_range(tup1, start_index, end_index )

(3, 4, 5, 6, 7, 8)

Que 26. Write a code that prompts the user to input two sets of character. Then print the union of these two sets.

In [ ]:
def get_union_set(s1 = None, s2 = None):
  if s1 is None:
    s1 = input("enter string1 ")
  if s2 is None:
    s2 = input("enter string2 ")

  modified_s1 = s1.replace(" ", "").lower()
  modified_s2 = s2.replace(" ", "").lower()

  set1 = set(modified_s1)
  set2 = set(modified_s2)

  return set(set1 | set2)

In [ ]:
get_union_set()

enter string1 GaUrav ShuKla
enter string2 VaiBhav shuKLA

{'a', 'b', 'g', 'h', 'i', 'k', 'l', 'r', 's', 'u', 'v'}

Que 27. Develop a code that take tuple of integer as input. The function should return the maximum and the minimum values from the tuple using tuple unpacking.

In [ ]:
def find_max_min(input_tuple):
    # Use tuple unpacking to extract maximum and minimum values
    maximum = max(input_tuple)
    minimum = min(input_tuple)
    return maximum, minimum

In [ ]:
tup1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16)
find_max_min(tup1)

(16, 1)

Que 28. Create a code that defines two sets of interger. then print the Union, Intersection, and differences of these two sets.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Print the sets
print("Set 1:", set1)
print("Set 2:", set2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}

In [ ]:
union_set = set1.union(set2)
print("union of set1 and set2 :", union_set)

intersection_of_set = set1.intersection(set2)
print("intersection of set1 and set2 :", intersection_of_set)

differences_of_set = set1.difference(set2)
print("difference of set1 and set2 :", differences_of_set)

union of set1 and set2 : {1, 2, 3, 4, 5, 6, 7, 8}
intersection of set1 and set2 : {4, 5}
difference of set1 and set2 : {1, 2, 3}

Que 29. Write a code that take a tuple and an element as input. The function should return the count of occurrences of that element in the tuple.

In [ ]:
def count_occurrences2(input_tuple, element):
    return input_tuple.count(element)

In [ ]:
tuple_1 = (1,2,11,1,17,7,76,1,34,98,18,19,12)
element_ = 1

count_occurrences2(tuple_1, element_)

3

Que 30. Develop a code that prompts the user to input two sets of string. Then print the symmetric difference of these two sets.

In [ ]:
def symm_diff_of_sets(s1 = None, s2 = None):
  if s1 is None:
    s1 = input("enter integer string separated by comma :")
  if s2 is None:
    s2 = input("enter integer string separated by comma :")

  set1 = s1.split(',')
  set2 = s2.split(',')

  set1 = set(set1)
  set2 = set(set2)

  return list(set1.symmetric_difference(set2))

In [ ]:
symm_diff_of_sets()

enter integer string separated by comma :1,2,3,4,5,6,7,8,9,10
enter integer string separated by comma :1,3,5,7,9

['4', '2', '10', '6', '8']

Que 31. Write a code that takes a list of words as input and return a dictionary where the keys are unique words and the values are the frequecies of those words in the input list

In [ ]:
def word_frequency(words):
    frequency_dict = {}
    for i in words:
        if i in frequency_dict:
            frequency_dict[i] += 1
        else:
            frequency_dict[i] = 1
    return frequency_dict

In [ ]:
list1 = [1,2,1,2,3,2,3,4,3,4,5,4,5,6,5,6,7,6,7,8,7]
word_frequency(list1)

{1: 2, 2: 3, 3: 3, 4: 3, 5: 3, 6: 3, 7: 3, 8: 1}

Que 32. Write a code that takes two dictionary as input and merge them in a single dictionary. If there are common keys the values should be added together.

In [ ]:
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value
    return merged_dict

In [ ]:
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 5, 'c': 15, 'd': 25}

merged_dictionary = merge_dictionaries(dict1, dict2)
print("Merged dictionary:", merged_dictionary)

Merged dictionary: {'a': 10, 'b': 25, 'c': 45, 'd': 25}

Que 33. Write a code to access a value in a nested dictionary. The function should take the dictionary and list of keys as input, and return the corresponding value. If any of the key does not exist in the dictionary, the function should retrun None.

In [ ]:
def access_nested_dict(nested_dict, keys):
    current_dict = nested_dict
    for key in keys:
        if key in current_dict:
            current_dict = current_dict[key]
        else:
            return None
    return current_dict

In [ ]:
nested_dict = {
    'a': {
        'b': {
            'c': 10,
            'd': 20
        },
        'e': {
            'f': 30,
            'g': 40
        }
    },
    'h': {
        'i': {
            'j': 50,
            'k': 60
        }
    }
}

nested_dict

{'a': {'b': {'c': 10, 'd': 20}, 'e': {'f': 30, 'g': 40}},
 'h': {'i': {'j': 50, 'k': 60}}}

In [ ]:
keys_to_access = ['a', 'b', 'c']

In [ ]:
result = access_nested_dict(nested_dict, keys_to_access)
print("Value corresponding to keys {}: {}".format(keys_to_access, result))

Value corresponding to keys ['a', 'b', 'c']: 10

Que 34. Write a code that takes a dictionay as input and returns a sorted version of it based on values. You can choose whether to start in ascending order or descending order.

In [ ]:
def sort_dict_by_values_ascending(input_dict):
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1]))
    return sorted_dict

In [ ]:
input_dict = {'a': 5, 'b': 3, 'c': 8, 'd': 2}

sorted_dict = sort_dict_by_values_ascending(input_dict)
print("Sorted dictionary (ascending order):", sorted_dict)

Sorted dictionary (ascending order): {'d': 2, 'b': 3, 'a': 5, 'c': 8}

Que 35. Write a code that inverts a dictionary, swapping keys and values.Ensure that inverted dictionary correctly handles the cases where multiple keys have the same value by sorting the keys as a list in the inverted dictionary.

In [ ]:
def invert_dict(input_dict):
    inverted_dict = {}
    for key, value in input_dict.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
            inverted_dict[value].sort()  # Sort the keys
        else:
            inverted_dict[value] = [key]
    return inverted_dict

In [ ]:
input_dict = {'a': 5, 'b': 3, 'c': 5, 'd': 2}

inverted_dict = invert_dict(input_dict)
print("Inverted dictionary:", inverted_dict)

Inverted dictionary: {5: ['a', 'c'], 3: ['b'], 2: ['d']}